.aboutUs{
    margin:50px;
    display: inline-block;
    align-content:center;
    justify-content:center;
}

.ourTeam{
    margin:50px;
    display: inline-block;
    align-content:center;
    justify-content:center;
}

.ourHQ{
    margin:50px;
    display: inline-block;
    align-content:center;
    justify-content:center;
}

